<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gabrielferreira.baseclean">

    <!-- Basic Permission-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Context Extension -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".presentation.internal.di.AppApplication">

        <activity android:name=".presentation.view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.view.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.view.activity.NewsActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ef07db1163c9b4f377158e6ca0aed055aedbdab7" />
    </application>
</manifest>

